<!DOCTYPE html>
<html lang="ru-RU">
<head>
<title>{% block title %}{% endblock %}</title>
<meta charset="UTF-8" />
<meta name="author" content="Михаил Якименко" />
{% block descriptions %}
<meta name="keywords" content="" />
<meta name="description" content="" />
{% endblock %}
<link rel="stylesheet" type="text/css" media="all" href="/static/css/style.css" />
<script language="JavaScript" type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
<script language="JavaScript" type="text/javascript" src="/static/js/jquery.scrolling-parallax.js"></script>

{% block lib %}
{% endblock %}

{% block js_code %}
{% endblock %}

<!--googlefonts-->
<link href='http://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic,700italic&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
<!--googlefonts-->
<!--[if IE]> <script> (function() { var html5 = ("abbr,article,aside,audio,canvas,datalist,details," + "figure,footer,header,hgroup,mark,menu,meter,nav,output," + "progress,section,time,video").split(','); for (var i = 0; i < html5.length; i++) { document.createElement(html5[i]); } })(); </script> <![endif]-->

<!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
</head>
<body>

<!-- header -->
<header class="header">
    <div class="logo">
        <div class="greendog">
            <h1>Green dog</h1>
            <h2>design and development</h2>
        </div>
    </div>
    {% block nav %}
    {% endblock %}
</header>
<!-- /header -->

<!-- content -->
<section class="content">
    
{% block content %}
{% endblock %}


</section>
<!-- /content -->

<script type="text/javascript">
$(function() {
    $.scrollingParallax('/static/images/para2.png', {
        bgWidth : '100%',
        bgHeight : '400%',
        bgRepeat : true,
        staticSpeed : .25,
        staticScrollLimit : false,
        reverseDirection : true
    });
});
</script>

<!-- footer -->
<footer class="footer wrap">
    asdas
</footer>
<!-- /footer -->

</body>
</html>